/* .app-header {
  background: rgb(243, 233, 215);
  color: black;
}

.app-header section.container {
  display: flex;
  align-items: center;
}

.app-header h1.logo {
  flex-grow: 1;
  font-weight: 600;
}

.app-header .back {
  flex-grow: 1;
}

.app-header {
  margin-right: 10px;
}

.app-header section.container > section {
  flex-grow: 1;
} */

header {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
