ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-email-container {
  padding-left: 10px;
  display: flex;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7ef;
  align-content: end;
  flex-wrap: nowrap;
}

.main-email-container:hover {
  border: 0.5px solid rgb(188, 187, 187);
  border-bottom: 1px solid rgb(108, 108, 108);
}

.email-prev--container {
  margin-left: 30px;
  width: 180px;
  height: 40px;
  display: flex;
  gap: 20px;
}

.main-email-container:hover .email-prev-action--btns {
  margin-right: 10px;
  display: flex;
  gap: 13px;
  padding-left: 30px;
}

.main-email-container:hover .email-prev--date {
  display: none;
}

.email-prev-action--btns {
  display: none;
}

.email-prev--date {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 5px;
}

.email-prev--date > p {
  font-weight: 400;
  align-items: end;
}

.bold {
  font-weight: bolder;
  font-size: 15px;
}

.mail-checkbox {
  opacity: 0.4;
  width: 17px;
  height: 17px;
}

.email-subject--container {
  width: 170px;
}

.email-body--container {
  margin-left: 30px;
}

.email-preview--link-container {
  width: 75%;
}

#select {
  margin-left: 20px;
  margin-right: 10px;
}

.from-subject-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.email-from-container {
  align-self: center;
  width: 190px;
}

.block--item--20 {
  min-width: 20px;
  max-width: 20px;
}

.block--item--40 {
  min-width: 150px;
  margin-right: 20px;
}

.block--item--100 {
  min-width: 140px;
}

.block--item--200 {
  min-width: 200px;
}

.block--item--300 {
  min-width: 300px;
}

.unread {
  background-color: #fff;
}

.email-preview-main--container {
  width: 100%;
  height: 99vh;
  padding-bottom: 10%;
  overflow-y: scroll;
}
.mail-icons {
  width: 20px;
  height: 20px;
}

.menu-container {
  width: 20px;
  margin-left: 30px;
  align-self: center;
}

.menu-logo-main--container {
  padding-top: 5px;
  display: flex;
  gap: 20px;
}

.star {
  margin-left: 10px;
  margin-right: 10px;
}

.star-img {
  filter: invert();
}

.head-btns {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #fff;
  padding-left: 30px;
  height: 48px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 2;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.envelope-img {
  filter: grayscale(80%);
  width: 15px;
  height: 15px;
}

.draft {
  color: #dd4c39;
}

.from-email-field {
  width: 200px;
}

/* width */
.email-preview-main--container::-webkit-scrollbar {
  width: 16px;
  height: 10px;
  color: white;
}

/* Track */
.email-preview-main--container::-webkit-scrollbar-track {
  background: #fff;
  width: 20px;
}

/* Handle */
.email-preview-main--container::-webkit-scrollbar-thumb {
  border-radius: 0%;
  border-right: 9px solid #ccc;
  border-left: 7px solid #ffffff;
}

.important {
  padding-right: 15px;
  opacity: 0.5;
}

.head-btns {
  display: flex;
}

.top-bat-refresh--btn {
  width: 23px;
  height: 23px;
  margin-left: 15px;
}

.top-bar-checkbox {
  position: relative;
  right: 10px;
  width: 15px;
  height: 15px;
}

@media only screen and (max-width: 700px) {
  .main-email-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    border-bottom: 1px solid #e2e7ef;
    justify-content: end;
  }

  .email-from-container {
    display: flex;

    align-self: flex-start;
    width: 0px;
  }

  .from-subject-container {
    padding-left: 10px;
    gap: 5px;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
  }

  .email-subject--container {
    width: auto;
  }

  .from-email-field {
    padding-left: 10px;
    padding-bottom: 5px;
  }

  .mail-checkbox {
    display: none;
    position: absolute;
  }

  .important {
    display: none;
    position: absolute;
  }

  .star {
    display: inline;
    position: relative;
    right: -90%;
    top: 55%;
  }

  .email-prev--date {
    margin: auto;
    position: relative;
    right: -44%;
    top: -10%;
  }

  .email-body--container {
    width: 55vh;
    margin-left: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .head-btns {
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #fff;
    padding-left: 30px;
    height: 48px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    z-index: 2;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  }

  .main-email-container:hover .email-prev-action--btns {
    display: none;
  }

  .main-email-container:hover .email-prev--date {
    display: flex;
  }

  .head-btns {
    display: none;
  }
  /* .email-preview-main--container::-webkit-scrollbar {
    width: 0px;
  }

  .main-email-container:hover .email-prev-action--btns {
    display: none;
  } */
}
